@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --scarlett: #c0392b;
  --dark-gray: #2c2c2c;
  --whiten: #fdfdfd;
  --ivory: #ede0d4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  transition: 0.3s ease-in-out;
}
body {
  background-color: var(--ivory);
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--dark-gray);
  color: var(--ivory);
  position: fixed;
  top: 0;
  left: 0;
}
#logo {
  font-family: "Noto Serif JP", serif;
  margin-left: 50px;
}
#logo > span {
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
  font-weight: 400;
}
nav {
  display: flex;
}
nav > button {
  border: none;
  background-color: transparent;
  color: var(--ivory);
  font-size: 1.1rem;
  height: 80px;
  padding: 0 50px;
}
nav > button:hover,
nav > button.active {
  background-color: var(--scarlett);
  cursor: pointer;
}
#content {
  color: var(--dark-gray);
  padding: 20px 50px;
  margin-top: 80px;
}
